<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <input type="text" name="title" id="" placeholder="enter title">
    <br><br>
    <textarea name="description" id="" cols="30" rows="10" placeholder="enter description"></textarea>
    <br><br>
    <input type="text" name="image" placeholder="enter url/link" id="">
    <br><br>
    <input type="text" name="price" placeholder="enter price" id="">
    <br><br>
    <input type="text" name="country" placeholder="enter country" id="">
    <br><br>
    <input type="text" name="location" placeholder="enter location" id="">
</body>
</html>